<% layout('../layout/templateLTE') %>
<% block('titulo1', "GESTION DE PRODUCTOS") -%>

<% block('script',"") -%>
<% block('titulo2', "LISTA DE LOS PRODUCTOS") -%>
<a href="/gestion/nuevo/">Agregar nuevo producto + </a>


   <center><h1>Datos recibidos de la recepcion de los productos</h1></center>
    <br><br>
   

    <div style="text-align:center;">
    <table class="table">
        <tr>
            <th>Tipo</th> <th>Nombre</th> <th>Cantidad</th> <th>Precio</th>
            <th>Marca</th> <th>Proveedor</th> <th>Presentacion</th>
            <th>Vencimiento</th>
            
        </tr>
        <% for(i=0;i<lista.length;i++){%>
        <tr>
            <td><%=lista[i].tipo%></td>
            <td><%=lista[i].nombre%></td>
            <td><%=lista[i].cantidad%></td>
            <td><%=lista[i].precio%></td>
            <td><%=lista[i].marca%></td>
            <td><%=lista[i].proveedor%></td>
            <td><%=lista[i].presentacion%></td>
            <td><%=lista[i].vencimiento%></td>

            <td><a onclick="return confirm('Esta seguro de borrar los datos de la recepcion de los productos?')" href="/gestion/borrar/<%=lista[i]._id%>">BORRAR<i class="fas fa-times-circle"></i></a></td>
            <td>
    
                <a type="button" href="/gestion/edit/<%=lista[i]._id%>">EDITAR<i class="fas fa-edit"></i></a> 
            </td>
            </tr>
        <%}%>
    </table>    
</div></body>
</html>